

<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4"> Cars, that impresses you at first glance </h1>
        </div>
    </div>
    <button type="button" class="btn btn-success" style="padding: 10px;margin-left: 44px;" (click)="enableBuying()">Enable/Disable Buying</button>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow" *ngFor="let car of product" >
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center  p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a [routerLink]="['/products',car.id]" class="mt-0 font-weight-bold mb-2 fs-4">{{car.name}}</a>
                            <p class="font-italic text-muted mb-0 small">{{car.color}}</p> 
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{{car.price}}</h6>
                     
                            </div>
                        </div><img src={{car.img}} alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> 
                    <app-alert-details [car]="car" [isUnchanged]=isUnchanged (notify)="clickMe(car)"></app-alert-details><!-- End -->
                </li> 
                <br><!-- End -->
            
            </ul> <!-- End -->
        </div>
    </div>
</div>